@mixin button {
    border-radius: 23px;
    border: 2px solid transparent;
    display: block;
    min-width: 185px;
    max-width: 280px;
    padding: 13px 30px;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none!important;
    letter-spacing: 1px;
    
    @include breakpoint(medium) {
        display: inline-block;
    }
    
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
    
    svg {
       position: absolute;
       left: 10px;
       top: 50%;
       transform: translateY(-50%);
    }
}


.button {
    @include button;
    
    
    &.blue {
        background-color: $blue;
        border-color: $blue;
        color: $white;
        
        
        &:visited,
        &:active,
        &:focus {
            color: $white;
        }
        
        &:hover{
            background-color: $navy;
            border-color: $navy;
            color: $white;
        }   
    }
    
    &.blue-alt {
        background-color: transparent;
        border-color: $white;
        color: $white;
        
        &:visited,
        &:active,
        &:focus {
            color: $white;
        }

        &:hover{
            background-color: $blue;
            border-color: $blue;
            color: $white;
        }
    }
    
    
    &.green {
        background-color: $green;
        border-color: $green;
        color: $white;
        
        &:visited,
        &:focus {
            color: $white;
        }
        
        &:active
         {
            color: $green;
        }

        &:hover{
            background-color: $white;
            border-color: $green;
            color: $green;
        }
    }
    
    
    &.green-alt {
        background-color: transparent;
        border-color: $green;
        color: $green;
        
        &:visited,
        &:active,
        &:focus {
            color: $white;
        }

        &:hover{
            background-color: $green;
            border-color: $green;
            color: $white;
        }
    }
    
    

}


.button-group {
    
    margin: 0 -10px;
 
    a {
        margin: 0 auto 20px;   
    }
    
    @include breakpoint(medium) {
        a {
            margin: 0 10px 20px;   
        }
    }
    
}