// Primary Navigation

$primary-anchor-color: #fff;
$primary-anchor-color-hover: scale-color($primary-anchor-color, -20%);
$primary-secondary-anchor-color: #fff;
$primary-secondary-anchor-color-hover: scale-color($primary-anchor-color, -20%);

$timing-base: .3s;
$timing-delay: .2s;
$easing-base: ease;
$transition--basic: all $timing-base $easing-base;

/*
 @media screen and (max-width: 782px) {
  #wpadminbar {
	position: fixed;
  }
  .logged-in .nav-primary .menu {
	max-height: calc(100vh - (82px + 46px));
  }
}

@media screen and (min-width: 783px) {
  #wpadminbar {
	position: fixed;
  }
  .logged-in .nav-primary .menu {
	max-height: calc(100vh - (82px + 32px));
  }
}
*/

.site-header .nav-primary {
	display: none;
    
    @include breakpoint(large) {
        display: block;
    }
}


.nav-primary li {   

	a {
		color: $white;
		font-size: 15px;
        font-weight: 400;
	}
}

.nav-primary .menu-item {
 	border-top: 1px solid $white;
    display: block;
    
    &:hover,
	&.current-menu-item,
	&.current_page_parent,
	&.current-page-ancestor,
	&.current-menu-ancestor,
	&.current-menu-parent,
	&.current-category-ancestor {

		> a {
			color: $white;
		}
	}
}

.nav-primary .menu {
    background: #fff;   
}


.nav-primary li {
	list-style-type: none;
	width: 100%;
	position: relative;

	a {
		color: $white;
		font-size: 15px;
        font-weight: 700;
		margin: 0;
		padding: 20px 50px 20px 15px;
		display: block;

		i {
			font-style: normal;
		}
	}

	.sub-menu li a {
		padding-left: 30px;
        font-weight: 400;
	}
}

.nav-primary .menu > li:first-child {
	border: none;
}

.nav-primary .menu {
	background: $dark-gray;

	.sub-menu {
 		background: $light-gray;
        
        a {
            color: $dark-gray;
        }
	}
}


@include breakpoint(large) {
    
    .nav-primary {
		display: block;
		width: 100%;
        position: absolute;
        left: 0;
        top: calc(100% - 10px );
        width: 100%;
        z-index: 99;
        overflow: hidden;
        background-color: $blue;
        
	}
    

	.nav-primary .menu {
		@include list-reset;
		background: transparent;
        
        display: flex;
        justify-content: center;

		.menu-item {
			background: transparent;
			border: none;
			
			width: auto;
			padding: 0 12px;
            
 			a {
                color: $primary-anchor-color;
				position: relative;
				display: block;
				font-size: 16px;
                line-height: inherit;
                font-weight: 400;
				text-decoration: none;
  			}            
 		}

		// First level
		> .menu-item {
  			text-align: left;
            padding: 0;
            width: 18%;

			> a {
                font-weight: 600;
				padding: 5px 0 15px;
                display: inline-block;
                font-size: 17px;
 			}
            
			&.menu-item-has-children > a {
                
                position: relative;
                padding-left: 15px;
                padding-right: 15px;
				
				&:before {
                    content:'';
                    display: none;
                    left: 0;
                    top: calc( 50% - 5px );
                    transform: translateY(-50%) rotate(-45deg);
                    position: absolute;

					width: 8px;
					height: 8px;
					border: solid #fff;
					border-width: 0 2px 2px 0;
 					
				}
			}

			&:hover,
			&:focus,
			&:active {

				> a {
					background: transparent;
                    color: $primary-anchor-color;

				}
                
                &[data-is="open"] > a {
                    &:before {
                        display: block;
                    }
                }
				
			}
            
            

			&.current-menu-item,
			&.current_page_parent,
			&.current-page-ancestor,
			&.current-menu-ancestor,
			&.current-category-ancestor {

				> a {
					background: transparent;
 				}
			}

 		}

		// Sublevels
		.sub-menu {
			@include list-reset;
			position: relative;
			z-index: 99;
            width: auto;
            display: block;
            background: transparent;
            max-width: none;
            overflow: hidden;
            
            
            &[data-is="close"] {
                max-height: 0;
                opacity: 0;
                transition:
                  max-height $timing-base ease-out,
                  opacity $timing-base ease-out,
                  visibility 0s linear $timing-base;
                visibility: hidden;
            }
            
            &[data-is="open"] {
                max-height: 60rem;
                opacity: 1;
                transition:
                  max-height $timing-base ease-in,
                  opacity $timing-base ease-in,
                  visibility 0s linear 0s;
                visibility: visible;
                padding-bottom: 20px;
            }

			

			.menu-item {
				border: none;
				display: block;
				margin: 10px 0;
                padding: 0 15px;

				> a {
					display: block;
					position: relative;
					color: $primary-secondary-anchor-color;
                    font-size: 15px;
                    padding: 0;

					&:hover {
						background: transparent;
						color: $primary-secondary-anchor-color-hover;
					}
				}
			}

			.sub-menu {

			}
		}

	}
    
    
    

}


.menu .mobile-link {
	@include breakpoint(large) {
		display: none!important;
	}
}


.menu .desktop-link {
	@include breakpoint(medium down) {
		display: none!important;
	}
}

.nav-primary .menu .menu-item-hide > a {
	visibility: hidden!important;
}
