/* CSS Document */

.section-content-block {
    
    position: relative;
 
    &.background-gray {
        background-color: $light-gray;   
    }
    
    min-height: 300px;
    
    @include breakpoint(large) {
        min-height: 500px;   
        
        .columns  {
            min-height: 500px;  
            display: flex;
            align-items: center;
            justify-content: center;
         }
    }
    
    .entry-content {
        
         h2:after {
            margin-left: 0;
         }
        
        
         *:last-child {
            margin-bottom: 0;   
         }
    }
    
    .entry-content {
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: rem-calc(map-get($grid-column-gutter, medium) /2 );  
        padding-right: rem-calc(map-get($grid-column-gutter, medium) /2 );  
        
        @include breakpoint(large) {
            padding-left: 45px;  
            padding-right: 45px;  
        }
    }
    

    
    
    
    .photo {
        background-size: cover;
        background-repeat: no-repeat; 
        padding-top: 50%;  
        
        @include breakpoint(medium) {
            min-height: 500px; 
        }
         
        @include breakpoint(large) {
            width: 50%;
            height: 100%;
            position: absolute;
            bottom: 0;
            padding-top: 0;
            
            &.photo-left {
            left: 0;    
            }
            
            &.photo-right {
            right: 0;    
            }
       }
    }
    
}