// Footer CTA

.footer-cta {
 
    background-color: $navy;
    
    margin-top: 0;
    
    position: relative;
    z-index: 2;
    
    .wrap {
        padding: 75px 0 45px!important;  
        
        @include breakpoint(large) {
            padding: 75px 0 53px!important;  
        }
    }
    
    .row {
        @include breakpoint(large) {
            display: flex;
            align-items: center;  
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            
            .columns {
                float: none;
                width: auto;
                padding: 0 45px;
            }
        }
    }
    
    .column {    
    
        margin-bottom: $global-margin;   
        
        @include breakpoint(large) {
            margin-bottom: 0;
        }
        
        h2,
        p {
           color: #fff;  
        }
        
        h2 {
            margin-bottom: 5px;
            &:after {
                display: none;   
            }
        }
        
        p {
            font-size: 22px;
            line-height: 30px;
            font-weight: 700;   
        }
        
        text-align: center;
        
        &:first-child {
            *:last-child {
                margin-bottom: $global-margin;   
            }
        }
        
        @include breakpoint(large) {
            &:first-child {
                text-align: left; 
            }
            &:last-child {
                text-align: right; 
            }
        }
        
    }
}