/* CSS Document */

.section-photo {
    
    $photo-grid-height: 562px;
    $photo-grid-gap: 15px;
    
    .grid-block {
        width: 100%;   
    }
    
    .bg {
        width:100%;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: ($photo-grid-height/2);
     }
     
     
     .grid-block {
         padding-top: $photo-grid-gap;
     }
     
     .grid-block-1 .bg {
         height: 562px;
     }

     .grid-count-2 {
         .bg {
            height: 562px;   
         }
     }
          
     @include breakpoint(medium) {
         
         
             
         .grid-right {             
             .grid-block {
                float: left;   
             }
         }         
         
         .grid-count-3,
         .grid-count-4 {
             
             .grid-block-2 {
                  width: 58.33333%;
              }
             
             .grid-block-3 {
                  width: 41.66667%;
                  padding-left: $photo-grid-gap;
             }
         }
         
         .grid-count-4 {
             
             .grid-block-2 {
                  padding-bottom: $photo-grid-gap;
              }
             
             .grid-block-3 {
                  padding-bottom: $photo-grid-gap;
             }
         }
         
         .grid-count-5 {
                          
             .grid-block-2,
             .grid-block-5 {
                  width: 58.33333%;
              }
             
             .grid-block-3,
             .grid-block-4 {
                  width: 41.66667%;
             }
             
             .grid-block-3,
             .grid-block-5 {
                  padding-left: $photo-grid-gap;
             }
             
             .grid-block-2,
             .grid-block-3 {
                  padding-bottom: $photo-grid-gap;
             }
         }
         
     }
     
     @include breakpoint(xlarge) {
         .grid-left,
         .grid-right {
             float: left;
          }
         
         .grid-left {
             width: 58.33333%;
         }
         
         .grid-right {
             padding-left: $photo-grid-gap;
             width: 41.66667%;
         }
         
         .grid-block-1 {
            padding-bottom: 0;
        }
        
         .grid-count-3 {
             
             .grid-block-2,
             .grid-block-3 {
                  width: 100%;
                  padding-left: 0;
              }
         }
     }
     
    
}